In [1]:
max_features = 128
epochs = 40

In [2]:
import os
os.environ["CUDA_VISIBLE_DEVICES"] = "2"

In [3]:
import pandas as pd
import numpy as np
import json

In [4]:
json_list = list()
with open('../data/tweets_DM.json' , 'r') as file:
    for line in file:
        json_list.append(json.loads(line))

In [5]:
tweet_list = list()
for json in json_list:
    tweet_id = json['_source']['tweet']['tweet_id']
    hashtags = json['_source']['tweet']['hashtags']
    hashtag = ' '.join(hashtags)
    text = json['_source']['tweet']['text']
    text = text + ' ' + hashtag
    tweet_list.append([tweet_id, text])

In [6]:
text_df = pd.DataFrame(tweet_list, columns=['tweet_id', 'text'])

In [7]:
emotion_df = pd.read_csv('../data/emotion.csv')
emotion_df

         tweet_id       emotion
0        0x3140b1       sadness
1        0x368b73       disgust
2        0x296183  anticipation
3        0x2bd6e1           joy
4        0x2ee1dd  anticipation
...           ...           ...
1455558  0x38dba0           joy
1455559  0x300ea2           joy
1455560  0x360b99          fear
1455561  0x22eecf           joy
1455562  0x2fb282  anticipation

[1455563 rows x 2 columns]

In [8]:
identification_df = pd.read_csv('../data/data_identification.csv')
identification_df

         tweet_id identification
0        0x28cc61           test
1        0x29e452          train
2        0x2b3819          train
3        0x2db41f           test
4        0x2a2acc          train
...           ...            ...
1867530  0x227e25          train
1867531  0x293813          train
1867532  0x1e1a7e          train
1867533  0x2156a5          train
1867534  0x2bb9d2          train

[1867535 rows x 2 columns]

In [9]:
test_df = identification_df[identification_df['identification'] == 'test']
test_df

         tweet_id identification
0        0x28cc61           test
3        0x2db41f           test
15       0x2466f6           test
23       0x23f9e9           test
31       0x1fb4e1           test
...           ...            ...
1867495  0x2c4dc2           test
1867496  0x31be7c           test
1867500  0x1ca58e           test
1867515  0x35c8ba           test
1867518  0x1d941b           test

[411972 rows x 2 columns]

In [10]:
train_df = text_df.merge(emotion_df, left_on='tweet_id', right_on='tweet_id')
train_df

,tweet_id,text,emotion
0,0x376b20,"People who post ""add me on #Snapchat"" must be ...",anticipation
1,0x2d5350,"@brianklaas As we see, Trump is dangerous to #...",sadness
2,0x1cd5b0,Now ISSA is stalking Tasha üòÇüòÇüòÇ <LH>,fear
3,0x1d755c,@RISKshow @TheKevinAllison Thx for the BEST TI...,joy
4,0x2c91a8,Still waiting on those supplies Liscus. <LH>,anticipation
...,...,...,...
1455558,0x321566,I'm SO HAPPY!!! #NoWonder the name of this sho...,joy
1455559,0x38959e,In every circumtance I'd like to be thankful t...,joy
1455560,0x2cbca6,there's currently two girls walking around the...,joy
1455561,0x24faed,"Ah, corporate life, where you can date <LH> us...",joy
1455562,0x34be8c,Blessed to be living #Sundayvibes <LH> Sundayv...,joy

In [11]:
from sklearn import preprocessing

le = preprocessing.LabelEncoder()
le.fit(train_df['emotion'])
train_df['label'] = le.transform(train_df['emotion'])
train_df

,tweet_id,text,emotion,label
0,0x376b20,"People who post ""add me on #Snapchat"" must be ...",anticipation,1
1,0x2d5350,"@brianklaas As we see, Trump is dangerous to #...",sadness,5
2,0x1cd5b0,Now ISSA is stalking Tasha üòÇüòÇüòÇ <LH>,fear,3
3,0x1d755c,@RISKshow @TheKevinAllison Thx for the BEST TI...,joy,4
4,0x2c91a8,Still waiting on those supplies Liscus. <LH>,anticipation,1
...,...,...,...,...
1455558,0x321566,I'm SO HAPPY!!! #NoWonder the name of this sho...,joy,4
1455559,0x38959e,In every circumtance I'd like to be thankful t...,joy,4
1455560,0x2cbca6,there's currently two girls walking around the...,joy,4
1455561,0x24faed,"Ah, corporate life, where you can date <LH> us...",joy,4
1455562,0x34be8c,Blessed to be living #Sundayvibes <LH> Sundayv...,joy,4

In [12]:
test_df = test_df.merge(text_df, left_on='tweet_id', right_on='tweet_id')
test_df

,tweet_id,identification,text
0,0x28cc61,test,@Habbo I've seen two separate colours of the e...
1,0x2db41f,test,@FoxNews @KellyannePolls No serious self respe...
2,0x2466f6,test,"Looking for a new car, and it says 1 lady owne..."
3,0x23f9e9,test,@cineworld ‚Äúonly the brave‚Äù just out and fount...
4,0x1fb4e1,test,Felt like total dog üí© going into open gym and ...
...,...,...,...
411967,0x2c4dc2,test,6 year old walks in astounded. Mum! Look how b...
411968,0x31be7c,test,Only one week to go until the #inspiringvolunt...
411969,0x1ca58e,test,"I just got caught up with the manga for ""My He..."
411970,0x35c8ba,test,Speak only when spoken to and make hot ass mus...
411971,0x1d941b,test,Know what you want and go for it. Fuck everyon...

In [33]:
from sklearn.feature_extraction.text import CountVectorizer
import nltk

def word2vec(word, max_features):
    vector = CountVectorizer(max_features=max_features, tokenizer=nltk.word_tokenize) 
    vector.fit(word)
    x_array = vector.transform(word)
    return x_array

In [14]:
x_array = word2vec(train_df['text'], max_features)

/home/Danny/anaconda3/lib/python3.6/site-packages/sklearn/feature_extraction/text.py:484: UserWarning: The parameter 'token_pattern' will not be used since 'tokenizer' is not None'
  warnings.warn("The parameter 'token_pattern' will not be used"

In [15]:
y_array = train_df['label'].to_numpy()

In [16]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x_array, y_array, test_size=0.3, random_state=40)
print(x_train.shape)
print(x_test.shape)
print(y_train.shape)
print(y_test.shape)

(1018894, 128)
(436669, 128)
(1018894,)
(436669,)

In [17]:
# one-hot encoding
from keras.utils import to_categorical 
y_train = to_categorical(y_train)
y_test = to_categorical(y_test)

In [18]:
from keras_bert import load_trained_model_from_checkpoint, Tokenizer
from keras_bert import extract_embeddings
import re, os
import codecs

In [19]:
maxlen = 200
pretrained_path = '/home/Danny/Data-Mining/lab2/kaggle/embedding/bert_tiny'
config_path = '/home/Danny/Data-Mining/lab2/kaggle/embedding/bert_tiny/bert_config.json'
checkpoint_path = '/home/Danny/Data-Mining/lab2/kaggle/embedding/bert_tiny/bert_model.ckpt'
dict_path = '/home/Danny/Data-Mining/lab2/kaggle/embedding/bert_tiny/vocab.txt'

In [20]:
from keras.layers import *
from keras.models import Model
import keras.backend as K
from keras.optimizers import Adam

In [21]:
from keras.models import Sequential

model = Sequential()
model.add(Dense(512, activation='relu', input_dim=max_features))
model.add(Dense(256, activation='relu'))
model.add(Dense(128, activation='relu'))
model.add(Dense(64, activation='relu'))
model.add(Dense(8, activation='softmax'))

# Compile the model
model.compile(optimizer='adam', 
              loss='categorical_crossentropy', 
              metrics=['accuracy'])
model.summary()

Model: "sequential"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense (Dense)                (None, 512)               66048
_________________________________________________________________
dense_1 (Dense)              (None, 256)               131328
_________________________________________________________________
dense_2 (Dense)              (None, 128)               32896
_________________________________________________________________
dense_3 (Dense)              (None, 64)                8256
_________________________________________________________________
dense_4 (Dense)              (None, 8)                 520
=================================================================
Total params: 239,048
Trainable params: 239,048
Non-trainable params: 0
_________________________________________________________________

In [22]:
model.fit(x_train, y_train, batch_size=max_features, epochs=epochs, validation_data=(x_test, y_test))
model_path = 'model/keras_len_{}_epo_{}'.format(max_features, epochs)
model.save(model_path)

Epoch 1/40
7961/7961 [==============================] - 26s 3ms/step - loss: 1.5265 - accuracy: 0.4399 - val_loss: 1.4979 - val_accuracy: 0.4515
Epoch 2/40
7961/7961 [==============================] - 25s 3ms/step - loss: 1.4864 - accuracy: 0.4543 - val_loss: 1.4887 - val_accuracy: 0.4548
Epoch 3/40
7961/7961 [==============================] - 25s 3ms/step - loss: 1.4702 - accuracy: 0.4612 - val_loss: 1.4823 - val_accuracy: 0.4575
Epoch 4/40
7961/7961 [==============================] - 26s 3ms/step - loss: 1.4568 - accuracy: 0.4656 - val_loss: 1.4827 - val_accuracy: 0.4574
Epoch 5/40
7961/7961 [==============================] - 26s 3ms/step - loss: 1.4451 - accuracy: 0.4702 - val_loss: 1.4825 - val_accuracy: 0.4584
Epoch 6/40
7961/7961 [==============================] - 26s 3ms/step - loss: 1.4340 - accuracy: 0.4744 - val_loss: 1.4839 - val_accuracy: 0.4578
Epoch 7/40
7961/7961 [==============================] - 25s 3ms/step - loss: 1.4240 - accuracy: 0.4781 - val_loss: 1.4869 - val_accuracy: 0.4569
Epoch 8/40
7961/7961 [==============================] - 25s 3ms/step - loss: 1.4139 - accuracy: 0.4817 - val_loss: 1.4920 - val_accuracy: 0.4562
Epoch 9/40
7961/7961 [==============================] - 25s 3ms/step - loss: 1.4046 - accuracy: 0.4853 - val_loss: 1.4999 - val_accuracy: 0.4537
Epoch 10/40
7961/7961 [==============================] - 25s 3ms/step - loss: 1.3955 - accuracy: 0.4885 - val_loss: 1.5052 - val_accuracy: 0.4535
Epoch 11/40
7961/7961 [==============================] - 25s 3ms/step - loss: 1.3872 - accuracy: 0.4914 - val_loss: 1.5078 - val_accuracy: 0.4523
Epoch 12/40
7961/7961 [==============================] - 25s 3ms/step - loss: 1.3793 - accuracy: 0.4945 - val_loss: 1.5184 - val_accuracy: 0.4526
Epoch 13/40
7961/7961 [==============================] - 25s 3ms/step - loss: 1.3717 - accuracy: 0.4971 - val_loss: 1.5182 - val_accuracy: 0.4518
Epoch 14/40
7961/7961 [==============================] - 25s 3ms/step - loss: 1.3647 - accuracy: 0.5002 - val_loss: 1.5276 - val_accuracy: 0.4511
Epoch 15/40
7961/7961 [==============================] - 25s 3ms/step - loss: 1.3580 - accuracy: 0.5027 - val_loss: 1.5341 - val_accuracy: 0.4488
Epoch 16/40
7961/7961 [==============================] - 25s 3ms/step - loss: 1.3515 - accuracy: 0.5049 - val_loss: 1.5387 - val_accuracy: 0.4486
Epoch 17/40
7961/7961 [==============================] - 25s 3ms/step - loss: 1.3452 - accuracy: 0.5072 - val_loss: 1.5445 - val_accuracy: 0.4475
Epoch 18/40
7961/7961 [==============================] - 25s 3ms/step - loss: 1.3394 - accuracy: 0.5094 - val_loss: 1.5534 - val_accuracy: 0.4429
Epoch 19/40
7961/7961 [==============================] - 25s 3ms/step - loss: 1.3340 - accuracy: 0.5116 - val_loss: 1.5561 - val_accuracy: 0.4450
Epoch 20/40
7961/7961 [==============================] - 26s 3ms/step - loss: 1.3284 - accuracy: 0.5131 - val_loss: 1.5639 - val_accuracy: 0.4461
Epoch 21/40
7961/7961 [==============================] - 26s 3ms/step - loss: 1.3238 - accuracy: 0.5152 - val_loss: 1.5760 - val_accuracy: 0.4452
Epoch 22/40
7961/7961 [==============================] - 25s 3ms/step - loss: 1.3187 - accuracy: 0.5169 - val_loss: 1.5773 - val_accuracy: 0.4409
Epoch 23/40
7961/7961 [==============================] - 26s 3ms/step - loss: 1.3144 - accuracy: 0.5184 - val_loss: 1.5851 - val_accuracy: 0.4439
Epoch 24/40
7961/7961 [==============================] - 25s 3ms/step - loss: 1.3101 - accuracy: 0.5202 - val_loss: 1.5967 - val_accuracy: 0.4400
Epoch 25/40
7961/7961 [==============================] - 25s 3ms/step - loss: 1.3062 - accuracy: 0.5217 - val_loss: 1.5890 - val_accuracy: 0.4408
Epoch 26/40
7961/7961 [==============================] - 26s 3ms/step - loss: 1.3020 - accuracy: 0.5231 - val_loss: 1.6020 - val_accuracy: 0.4403
Epoch 27/40
7961/7961 [==============================] - 25s 3ms/step - loss: 1.2976 - accuracy: 0.5248 - val_loss: 1.6127 - val_accuracy: 0.4391
Epoch 28/40
7961/7961 [==============================] - 25s 3ms/step - loss: 1.2945 - accuracy: 0.5258 - val_loss: 1.6136 - val_accuracy: 0.4382
Epoch 29/40
7961/7961 [==============================] - 25s 3ms/step - loss: 1.2907 - accuracy: 0.5275 - val_loss: 1.6212 - val_accuracy: 0.4396
Epoch 30/40
7961/7961 [==============================] - 26s 3ms/step - loss: 1.2877 - accuracy: 0.5283 - val_loss: 1.6207 - val_accuracy: 0.4398
Epoch 31/40
7961/7961 [==============================] - 25s 3ms/step - loss: 1.2841 - accuracy: 0.5299 - val_loss: 1.6361 - val_accuracy: 0.4380
Epoch 32/40
7961/7961 [==============================] - 25s 3ms/step - loss: 1.2806 - accuracy: 0.5308 - val_loss: 1.6339 - val_accuracy: 0.4354
Epoch 33/40
7961/7961 [==============================] - 25s 3ms/step - loss: 1.2781 - accuracy: 0.5315 - val_loss: 1.6398 - val_accuracy: 0.4374
Epoch 34/40
7961/7961 [==============================] - 25s 3ms/step - loss: 1.2747 - accuracy: 0.5332 - val_loss: 1.6306 - val_accuracy: 0.4384
Epoch 35/40
7961/7961 [==============================] - 26s 3ms/step - loss: 1.2720 - accuracy: 0.5342 - val_loss: 1.6616 - val_accuracy: 0.4387
Epoch 36/40
7961/7961 [==============================] - 26s 3ms/step - loss: 1.2695 - accuracy: 0.5350 - val_loss: 1.6582 - val_accuracy: 0.4378
Epoch 37/40
7961/7961 [==============================] - 26s 3ms/step - loss: 1.2663 - accuracy: 0.5365 - val_loss: 1.6810 - val_accuracy: 0.4356
Epoch 38/40
7961/7961 [==============================] - 26s 3ms/step - loss: 1.2641 - accuracy: 0.5368 - val_loss: 1.6654 - val_accuracy: 0.4378
Epoch 39/40
7961/7961 [==============================] - 26s 3ms/step - loss: 1.2614 - accuracy: 0.5378 - val_loss: 1.6737 - val_accuracy: 0.4346
Epoch 40/40
7961/7961 [==============================] - 25s 3ms/step - loss: 1.2589 - accuracy: 0.5392 - val_loss: 1.6791 - val_accuracy: 0.4367
WARNING:tensorflow:From /home/Danny/anaconda3/lib/python3.6/site-packages/tensorflow/python/ops/resource_variable_ops.py:1817: calling BaseResourceVariable.__init__ (from tensorflow.python.ops.resource_variable_ops) with constraint is deprecated and will be removed in a future version.
Instructions for updating:
If using Keras pass *_constraint arguments to layers.
INFO:tensorflow:Assets written to: model/keras_len_128_epo_40/assets

In [23]:
from tensorflow import keras
model = keras.models.load_model('model/test')
model.evaluate(x_test, y_test)

13646/13646 [==============================] - 22s 2ms/step - loss: 1.5239 - accuracy: 0.4508

[1.5238919258117676, 0.45082658529281616]

In [24]:
y_pred = model.predict_classes(x_test)
y_pred.shape

WARNING:tensorflow:From <ipython-input-24-0061476823da>:1: Sequential.predict_classes (from tensorflow.python.keras.engine.sequential) is deprecated and will be removed after 2021-01-01.
Instructions for updating:
Please use instead:* `np.argmax(model.predict(x), axis=-1)`,   if your model does multi-class classification   (e.g. if it uses a `softmax` last-layer activation).* `(model.predict(x) > 0.5).astype("int32")`,   if your model does binary classification   (e.g. if it uses a `sigmoid` last-layer activation).

(436669,)

In [25]:
y_test = np.argmax(y_test, axis=1)
y_test.shape

(436669,)

In [26]:
label_count = len(pd.unique(train_df['label']))
target_names =  le.inverse_transform([i for i in range(label_count)])
target_names

array(['anger', 'anticipation', 'disgust', 'fear', 'joy', 'sadness',
       'surprise', 'trust'], dtype=object)

In [27]:
from sklearn.metrics import classification_report
print(classification_report(y_test, y_pred, target_names=target_names))

              precision    recall  f1-score   support

       anger       0.40      0.06      0.10     11969
anticipation       0.51      0.41      0.45     74572
     disgust       0.30      0.19      0.23     41506
        fear       0.28      0.13      0.18     19052
         joy       0.47      0.80      0.59    155634
     sadness       0.38      0.33      0.36     57836
    surprise       0.62      0.08      0.14     14744
       trust       0.48      0.17      0.26     61356

    accuracy                           0.45    436669
   macro avg       0.43      0.27      0.29    436669
weighted avg       0.44      0.45      0.41    436669

In [ ]:
x_array = word2vec(test_df['text'], max_features)
x_array.shape

/home/Danny/anaconda3/lib/python3.6/site-packages/sklearn/feature_extraction/text.py:484: UserWarning: The parameter 'token_pattern' will not be used since 'tokenizer' is not None'
  warnings.warn("The parameter 'token_pattern' will not be used"

In [ ]:
y_pred = model.predict_classes(x_array, batch_size=10)
y_pred.shape

In [ ]:
predict_array =  le.inverse_transform(y_pred)
predict_array.shape

In [ ]:
test_df['predict'] = predict_array
test_df

In [ ]:
output_df = test_df[['tweet_id', 'predict']]
output_df = output_df.rename(columns={'tweet_id':'id', 'predict':'emotion'})
output_df

In [ ]:
output_path = '../../output/keras_len_{}_epo_{}.csv'.format(max_features, epochs)
output_df.to_csv(output_path, index=False, header=True)